APP_MODE=external
SHOPIFY_API_KEY=
SHOPIFY_API_SECRET=
HOST=https://your-functions-url.com
FRONTEND_URL=https://your-frontend-url.com
JWT_SECRET=your-jwt-secret-key
DATABASE_URL=postgresql://app_user:app_password@localhost:50201/app_user
